*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
#nav{
    background: #e0e0e0;
    display: flex;
    height: 100vh;
    flex-direction: column;


}

.nav-total{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.nav-cover h3{
    font-size: 32px;
    text-align: center;
    font-weight: 500;

}

#linear-gradient{
    display: flex;
    justify-content:space-around;
    font-weight: 600;
    margin-top: 1rem;
}
.linear-cover{
    display: flex;

    align-items: center;
}
.box-gradient{
    height: 400px;
    width: 400px;
    display: flex;
    border-radius: 25px;

    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.box-gradient .box-cover{
    height: 250px;
    width: 250px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: rgb(190, 190, 190) 20px 20px 60px 0px, rgb(255, 255, 255) -20px -20px 60px 0px;
}

.info-gradient{
    display: flex;
    flex-direction: column;
    height:368px;
    width: 414px; 
    border-radius: 25px;
    padding: 1rem;
    color: #001f3f;
    background: #e0e0e0;
    box-shadow: rgb(190, 190, 190) 20px 20px 60px 0px, rgb(255, 255, 255) -20px -20px 60px 0px;
}


.info-gradient p.info{
    padding: 10px 0 10px 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
    background: #ffffff3d;
    border: 2px solid #001f3f;
    border-radius: 25px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    
}


/* Slider styles */
.info-gradient input[type="range"] {
    height: .1vw;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgba(2, 25, 68, 0.308);
    backdrop-filter: blur(1rem);
    font-weight: 900;
    padding: 1rem;
    appearance: none;
    outline: none;
}

.info-gradient input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #303030;
    border: 3px solid #2491da; 
    border-radius: 50%; 
    cursor: pointer;

}

.info-gradient #color1,#color2{
    padding: 1rem;
    height: .1vw;
    border-radius: 10px;
    margin-top: 5px;
}

.one-cover{
    position: absolute;
        height: 400px;

    width: 400px;

}
.one-cover .tl{
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(197, 140, 16);
    height: 20px;
    border: 2px solid black;
    width: 20px;
    border-radius: 0 0 25px 0;
}
.one-cover .tr{
    top: 0;
    right: 0;
    position: absolute;
    background: rgb(197, 140, 16);
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 0 0 0 25px;
}
.one-cover .bl{
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgb(197, 140, 16);
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 0 25px 0 0;
}
.one-cover .br{
    bottom: 0;
    right: 0;
    position: absolute;
    background: rgb(197, 140, 16);
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 25px 0 0 0;
}
.bottom-buttons{
    position: fixed;
    bottom: 0;
    background: #ffffff70;
    width: fit-content;

    margin-left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(1rem);
    border-radius: 25px;
    padding:10px;
}
.bottom-cover{
    display: flex;

    justify-content: space-around;
}
.bottom-buttons button{
    padding: 1.5vw;
    margin-left: 10px;
    border-radius: 15px;
    border: 2px solid black;
}










